In [2]:
import pandas as pd
import numpy as np

**Task - 1** Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

In [9]:
df = pd.DataFrame([['Ashish','21BDS0271',93,99,96],
                  ['Harsh','21BDS0272',89,78,92],
                  ['Ritesh','21BDS0227',94,90,92],
                  ['Dhruv','21BDS0223',78,85,89],
                  ['Raaga','21BDS0265',65,47,72],
                  ['Saksham','21BDS0165',78,72,80],
                  ['Kshitiz','21BDS0339',94,np.nan,92],
                  ['Akshit','21BCE2024',79,61,72],
                  ['Navya','21BCE0224',90,85,92],
                  ['Swaraj','21BCE0345',83,79,80]])
df.columns = ['Name','Reg.No','Marks 1','Marks 2','Marks 3']
print(df)

      Name     Reg.No  Marks 1  Marks 2  Marks 3
0   Ashish  21BDS0271       93     99.0       96
1    Harsh  21BDS0272       89     78.0       92
2   Ritesh  21BDS0227       94     90.0       92
3    Dhruv  21BDS0223       78     85.0       89
4    Raaga  21BDS0265       65     47.0       72
5  Saksham  21BDS0165       78     72.0       80
6  Kshitiz  21BDS0339       94      NaN       92
7   Akshit  21BCE2024       79     61.0       72
8    Navya  21BCE0224       90     85.0       92
9   Swaraj  21BCE0345       83     79.0       80

**Task- 2** Check the info of 'df'

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     10 non-null     object
 1   Reg.No   10 non-null     object
 2   Marks 1  10 non-null     int64
 3   Marks 2  9 non-null      float64
 4   Marks 3  10 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 528.0+ bytes
None

**Task- 3** Check the descriptive statistics of 'df'

In [11]:
print(df.describe())

        Marks 1    Marks 2    Marks 3
count  10.00000   9.000000  10.000000
mean   84.30000  77.333333  85.700000
std     9.42868  15.676415   8.920015
min    65.00000  47.000000  72.000000
25%    78.25000  72.000000  80.000000
50%    86.00000  79.000000  90.500000
75%    92.25000  85.000000  92.000000
max    94.00000  99.000000  96.000000

**Task- 4** check the 4th index observation with 'loc' slicing operator.

In [14]:
print(df.loc[4])

Name           Raaga
Reg.No     21BDS0265
Marks 1           65
Marks 2         47.0
Marks 3           72
Name: 4, dtype: object

**Task- 5** Check the null values in your 'df'

In [15]:
print(df.isnull().any())

Name       False
Reg.No     False
Marks 1    False
Marks 2     True
Marks 3    False
dtype: bool